{% extends 'layout.html' %}

{% block body %}
    <body>
        <div class="background" style="background-image: url('/static/sf.jpg');">
            <div>
                <p style="color: #7a1818"; class="background-text">SAN FRANCISCO</p>
            </div>
        </div>
        <section class="picture-grid">
                {% for photo in photos %}
                    <img class="img" src ='{{photo}}' alt="Unloadable Photo">
                {% endfor %}
            </section>
            <div id="Modal" class="modal">  
                <img class="modal-content" id="pop_image">
            </div>
        </body>
{% endblock %}