<!doctype html>
<html>
    <head>
        <meta charset="uft-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scaleable=yes">
        <title>Tyler and Manda's Travel Blog</title>
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Fugaz+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/blog.css">
    </head>
    <body>
        {% include 'includes/_navbar.html' %}
        
        {% block body %}
        <div class='container'>
        </div> 
        {% endblock %}
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script>
            var modal = document.getElementById('Modal');
            var modalImg = document.getElementById('pop_image');
            var pictureElems = $('.picture-grid').children();
            pictureElems.each(function (picture) {
                $(this).on("click", function() {
                modal.style.display = "block";
                modalImg.src = this.src;
                })
            })

            var span = document.getElementById('Modal');
            span.onclick = function() { 
                modal.style.display = "none";
            }
        </script>
    </body>
</html>

