{% extends 'layout.html' %}

{% block body %}
    <body>
        <div class="background" style="background-image: url('/static/portland.jpg');">
            <div>
                <p style="color: #8d8bf1"; class="background-text">PORTLAND</p>
            </div>
        </div>
        <section class="picture-grid">
            {% for photo in portland_photos %}
                <img class="img" src ='{{photo}}' alt="Unloadable Photo">
            {% endfor %}
        </section>
        <div id="Modal" class="modal">  
            <img class="modal-content" id="pop_image">
        </div>
    </body>
{% endblock %}