{% extends 'layout.html' %}

{% block body %}
    <head>
        <link rel="stylesheet" type="text/css" href="static/blog.css">
    </head>
    <body>
        <div class="background" style="background-image: url('/static/thailand.jpg');">
            <div>
                <p style="color: #e47845"; class="background-text">THAILAND</p>
            </div>
        </div>
        <div class="picture-grid">
            {% for photo in thai_photos: %}
                <img src ='{{photo}}' alt="Unloadable Photo">
            {% endfor %}
        </div>
        <div id="Modal" class="modal">  
            <img class="modal-content" id="pop_image">
        </div>
    </body>
{% endblock %}